examples/sfn/statemachine.yaml
apiVersion: sfn.aws.crossplane.io/v1alpha1
kind: StateMachine
metadata:
  name: sample-statemachine
spec:
  forProvider:
    region: us-east-1
    name: sample-statemachine
    roleArnRef:
      name: somerole
    definition: |
      {
        "Comment": "An example of the Amazon States Language using a choice state.",
        "StartAt": "FirstState",
        "States": {
          "FirstState": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:FUNCTION_NAME",
            "Next": "ChoiceState"
          },
          "ChoiceState": {
            "Type" : "Choice",
            "Choices": [
              {
                "Variable": "$.foo",
                "NumericEquals": 1,
                "Next": "FirstMatchState"
              },
              {
                "Variable": "$.foo",
                "NumericEquals": 2,
                "Next": "SecondMatchState"
              }
            ],
            "Default": "DefaultState"
          },

          "FirstMatchState": {
            "Type" : "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:OnFirstMatch",
            "Next": "NextState"
          },

          "SecondMatchState": {
            "Type" : "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:OnSecondMatch",
            "Next": "NextState"
          },

          "DefaultState": {
            "Type": "Fail",
            "Error": "DefaultStateError",
            "Cause": "No Matches!"
          },

          "NextState": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:us-east-1:123456789012:function:FUNCTION_NAME",
            "End": true
          }
        }
      }